<!DOCTYPE html>
<html>
<title>PKTOUR - Etapas</title>
{% extends 'base.html' %}
<head>
	
</head>
<body>
	{% block menu%}
	<ul class="nav nav-pills">
	  <li class="nav-item">
	    <a class="nav-link active" href="{% url 'pkapp_index' %}">Home</a>
	  </li>
	  <li class="nav-item dropdown">
	    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Opçoes</a>
	    <div class="dropdown-menu">
	      <a class="dropdown-item" href="{% url 'pkapp_players' %}">Players</a>
	      <div class="dropdown-divider"></div>
	      <a class="dropdown-item" href="{% url 'pkapp_torneios' %}">Torneios</a>
	      <div class="dropdown-divider"></div>
	      <a class="dropdown-item" href="{% url 'pkapp_etapas' %}">Etapas</a>
	      <div class="dropdown-divider"></div>
	      <a class="dropdown-item" href="{% url 'pkapp_admetapa' %}">Adm. Etapa</a>
	    </div>
	  </li>
	  <li class="nav-item dropdown">
	    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Consultas</a>
	    <div class="dropdown-menu">
	      <a class="dropdown-item" href="{% url 'pkapp_ranking' %}">Ranking</a>
	   </li>
<!--	  <li class="nav-item">
	    <a class="nav-link" href="#">Link</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link disabled" href="#">Disabled</a>
	  </li>-->
	</ul>
{% endblock %}
{%block main%}
<div class="row">
	<div class="col">
<table class="table table-striped">
  <thead class="thead-light">
	    <tr>
	      <th scope="col" width="30%">Torneio</th>
	      <th scope="col" width="15%">Etapa</th>
	      <th scope="col" width="25%">Local</th>
	      <th scope="col" width="30%">Data</th>
	    </tr>
  </thead>
  <tbody>
  	{% for etapas in etapas%}
  	<tr>
  		<th scope="row">{{etapas.id_torneio.torneio}}</th>
  		<td>{{etapas.etapa}}</td>
  		<td>{{etapas.local}}</td>
  		<td>{{etapas.data}}</td>
  	</tr>
  	{% endfor %}
  </tbody>
{% endblock %}

</body>
</html>